

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BK-LAN MapVote</title>

    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    
    <!--_-->
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="mapvote.css" rel="stylesheet">\
    
    <script src="mapvote.js"></script>
  </head>

  <body ng-app="appModule">
    <div class="container" ng-controller="appController">
      <div class="header clearfix">
        <h3 class="text-muted">BKL MapVote v0.1</h3>
      </div>

      <div class="jumbotron">
        <p class="lead" ng-hide="voteStarted">Bitte Teamnamen eingeben:</p>
        <p class="lead" ng-show="voteStarted">Teamnamen:</p>
        <p>Team 1: <input ng-model="team_a" ng-readonly="voteStarted"/> </p>
        <p>Team 2: <input ng-model="team_b" ng-readonly="voteStarted"/> </p>
        <p><button class="btn btn-lg btn-success" href="#" role="button" ng-disabled="!(team_a && team_b)" ng_click="voteStart()" ng-hide="voteStarted">Start MapVote</button></p>
      </div>
      
      <div class="jumbotron" ng-show="voteStarted">
        <h3 ng-show="team_a_veto">Team "{{team_a}}": Bitte Veto abgeben</h3>
        <h3 ng-show="team_b_veto">Team "{{team_b}}": Bitte Veto abgeben</h3>
        <p class="lead" ng-show="randStarted">Vetos:</p>
        
        <table class="table">
        <tr ng-repeat="map in allMaps"> 
            <td ng-style="mapStyle(map)">{{map}}</td>
            <td ng-show="mapAvailable(map) && !randStarted">
                <button ng_show="team_a_veto" ng-click="veto(map, team_a)">Veto von {{team_a}}</button>
                <button ng_show="team_b_veto" ng-click="veto(map, team_b)">Veto von {{team_b}}</button>
            </td>
            <td>
            <div ng-show="isMapVeto(map, team_a)">Veto von Team {{team_a}}!</div>
            <div ng-show="isMapVeto(map, team_b)">Veto von Team {{team_b}}!</div>
            <div ng-show="mapAvailable(map) && randStarted">In der Auslosung</div>
            </td>
        </tr>
        </table>
      </div>
      
      <div class="jumbotron" ng-show="randStarted">
        <p class="lead" ng-hide="finalMap">Auslosung:</p>
        <p><button class="btn btn-lg btn-success" href="#" role="button" ng_show="randStarted && !finalMap" ng-click="chooseFinal()">Auslosung starten</button></p>
        <p ng-show="finalMap">Die finale Map ist:</p>
        <h1 ng-show="finalMap"> {{finalMap}}</h1>
      </div>

      <footer class="footer">
        <p>&copy; 2016 BK-LAN e.V.</p>
      </footer>
    </div>
  </body>
</html>
